<section class="section">
  <div class="container">
    <h1 class="title is-1">Profile.</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method:
    :put }) do |f| %> <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <div><%= @user.username %></div>
      </div>
    </div>
    <div class="field">
      <%= f.label :email, class: "label" %>
      <div class="control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, class: "label" %>
      <div class="control">
        <%= f.password_field :password, autocomplete: "new-password", class: "input" %> <% if
        @minimum_password_length %>
      </div>
      <small><%= @minimum_password_length %> characters minimum</small>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class:"label" %>
      <div class="control">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :current_password, class:"label" %>

      <div class="control">
        <%= f.password_field :current_password, autocomplete: "current-password", class:"input" %>
      </div>
      <small>We need your current password to confirm your changes</small>
    </div>

    <div class="control">
      <%= f.submit "Update", class: "button is-primary" %>
    </div>
    <% end %>
  </div>
</section>
<section class="section">
  <div class="container">
    <h3 class="title">Unhappy ?</h3>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger is-small" %>
  </div>
</section>
