<section class="section">
  <div class="container">
    <h1 class="title is-1">
      Invitations.
    </h1>
    <% if current_user.invitations.empty? %>
      <div>No invites</div>
    <% else %>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Community</th>
            <th>Invited by</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% current_user.invitations.each do |invitation| %>
            <tr>
              <td><%= invitation.community.name %></td>
              <td><%= invitation.sender.username %></td>
              <td>
                <% if invitation.accepted? %>
                  <span class="tag is-success"><%= invitation.status %></span>
                <% elsif invitation.rejected? %>
                  <span class="tag is-danger"><%= invitation.status %></span>
                <% else %>
                  <span class="tag is-info"><%= invitation.status %></span>
                <% end %>
              </td>
              <td>
                <% if invitation.pending? %>
                  <%= button_to 'Accept', accept_invitation_path(invitation), class:"button is-small is-primary", form_class: "is-inline" %>
                  <%= button_to 'Reject', reject_invitation_path(invitation), class:"button is-small is-warning", form_class: "is-inline" %>
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</section>
