<%= render "communities/shared/header" %>

<div class="container">

<%= form_for [@community, @link] do |f| %>
<% if @link.errors.any? %>
  <%= @link.errors.full_messages %>
<% end %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit %>
<% end %></div>