<% current_user.communities.each do |community| %> <%= link_to community_path(community) do %>
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container is-flex" style="justify-content: space-between; align-items: center;">
      <div>
        <h1 class="title"><%= community.name %></h1>
        <h2 class="subtitle"><%= community.description %></h2>
      </div>
      <p><%= pluralize(community.users.size, 'member') %></p>
    </div>
  </div>
</section>
<% end %> <% end %>

<section class="section">
  <div class="container has-text-centered">
    <%= link_to "Create yours now", new_community_path, class: "button is-link is-large" %>
  </div>
</section>
