<%= render "communities/shared/header", tab: "invitations"%>

<div class="container">
  <h3 class="title">Pending invitations</h3>
  <% if @community.invitations.empty? %>
  <p>None.</p>
  <% else %>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Sent to</th>
        <th>Sent by</th>
        <th>Sent on</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @community.invitations.order(created_at: :desc).each do |invitation| %>
      <tr>
        <td>
          <%= invitation.email %> <%= invitation.user.nil? ? nil : ' - ' + invitation.user.username
          %>
        </td>
        <td><%= invitation.sender.username %></td>
        <td><%= invitation.created_at %></td>
        <td>
          <% if invitation.accepted? %>
          <span class="tag is-success"><%= invitation.status %></span>
          <% elsif invitation.rejected? %>
          <span class="tag is-warning"><%= invitation.status %></span>
          <% elsif invitation.revoked? %>
          <span class="tag is-dark"><%= invitation.status %></span>
          <% else %>
          <span class="tag is-info"><%= invitation.status %></span>
          <% end %>
        </td>
        <td>
          <% if invitation.pending? %> <%= button_to 'Revoke', controller: :communities, action:
          :revoke_invitation,method: :post, id: invitation.id, class:"button is-small is-danger"%>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
