<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'Home', root_path, class: "navbar-item" %>
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Your communities', communities_path, class: "navbar-item" %>
      <%= link_to invitations_path, class: "navbar-item" do %>
        Invitations
        <span class="tag is-info">
          <%= current_user.invitations.size %>
        </span>
      <% end %>
    </div>
    <div class="navbar-end">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "navbar-item" %>
    </div>
  </div>
</nav>
