<!DOCTYPE html>
<html>
  <head>
    <title>NewsletterApp</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_include_tag 'application',
    'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if user_signed_in? %> <%= render '/layouts/nav_signed_in' %> <% end %>

    <div class="container">
      <% flash.each do |key, value| %>
      <div class="notice notification is-<%= key%>">
        <button class="delete"></button>
        <%= value %>
      </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
